$font-family-base: "TeXGyreHeros", "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1;
$text-color: #848484;
$body-bg: #fff;
$font-weight: 400;

//Screen:
$ss: 320px;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$wrapper-max-width: 1600px;
$grid-gutter-width: 30px;

//Links
$link-color: #848484;
$link-hover-color: #e74c3c;
$link-decoration: none;
$link-hover-decoration: none;




